.myDiv {
  border: 5px outset red;
  background-color: lightblue;    
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

table, th, td {
  border: 1px solid black;
  
}
table{
  width: 50%;
  margin: 0 auto;
}
.main{
  background-color: skyblue;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  border: 2px solid #ddd;
  overflow: hidden;
  box-sizing: border-box;
}
body{
  margin: 0 auto;
  width:80%;
  text-align: center;
  border: 1px solid black;
  background-color: bisque;
}
.list{
  width:2%;
  margin: 0 auto;
}